.lobby-section {

  .access_text {
    display: flex;
    width: 80%;
    background-color: white;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: clamp(12px, 4vw, 25px);
    margin-top: 1% !important;
    margin: 0 auto;
    border-radius: 0 0 20px 20px;
  }

  .games {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
}