.bonus{
    font-family: 'DM Sans', sans-serif;
    font-size: clamp(6.5px, 1.5vw, 16px);
    border-radius: 20px 0 20px 0;
    border: none;
    text-align: center;
}

.bonus.true{
    color:green;
    font-weight: 700;
}
.bonus.false{
    color:red;
    font-weight: 700;
}
