@import './../../Mixins/mixins.scss';

.table-header {
  display: flex;
  flex-direction: row;
  padding: 5px;
  justify-content: space-between;

  input {
    padding: 10px;
    border: 1px solid black;
    width: 30%;
    border-radius: 10px;
    font-weight: 500;
    font-size: clamp(10px, 2vw, 20px);
    background-color: white;;
    height: 40px;
  }
  button {
    color: white;
    padding: 5px;
    border-radius: 10px;
    background-color: $green;
    width: 20%;

    &:hover {
      border-radius: 50px;
      transition: all 0.5s ease 0s;
      color: wheat;
    }
  }
}

.objectlist-section {
  border-collapse: collapse;
  font-family: "Lucida Grande", sans-serif;
  width: 100%;
  background-color: white;
  thead {
    border-bottom: 1px solid #F79361;
  }
  td, th {
    padding: 10px;
    text-align: center;
  }
  th {
    font-size: 18px;
  }
  tr:nth-child(2n) {
    background: rgba(255, 165, 0,0.2);
  }
  a {
    display: inline-block;
    padding: 5px 10px;
    background: #F79361;
    box-shadow: 2px 2px 0 0 #a22800;
    position: relative;
  }
  a:hover {
    box-shadow: none;
    top: 2px;
    left: 2px;
  }
  .command-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 5px;
    button {
      padding: 10px;
    }
    button:hover {
      opacity: 0.7;
    }
    //TODO: Возможно стоит накинуть active стиль
  } 
}
