.admin-section {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  max-width: 1400px;
  align-self: center;
  
  .tabs {
    width: 20%;
    display: flex;
  }
  
  .objects-list {
    width: 80%;
    border: 1px solid #F79361;
    border-radius: 10px;
    overflow: auto;
  }
}