.window_question{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    border: dashed;
    border-color:rgb(0, 0, 0);
    border-width: 2px 4px;
    border-radius: 40px;
    padding: 20px;   
}

.window_question_big{
    width: 62%;
}

.window_question_small{
    width: 42%;
    opacity: 0.4;
}

@media (max-width:768px) {
    .window_question_big{
        width: 98%;
    }
    .window_question_small{
        width: 82%;
        opacity: 0.4;
    }
}

.label{
    font-size:  16px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.label_centre{
    font-size:  16px;
    text-align: center;
}

.input_answer, 
.points {
    font-size:  16px;
}

.correct{
    color: rgb(0, 160, 0);
}

.incorrect{
    color: rgb(255, 0, 0);
}